# Ignore the virtual environment folder
venv/

media/

# Ignore environment variable file
# .env

# # Ignore Python cache files
# __pycache__/
# *.py[cod]

# # Ignore Django migrations
# */migrations/*.py
# */migrations/*.pyc

# Ignore database files
db.sqlite3

# Ignore coverage reports
.coverage
htmlcov/

# Ignore other common files
*.log
*.pot
*.pyc
*.egg-info/
.DS_Store
